<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dp" class="in.ashokit.beans.DebitCardPayment" />

	<bean id="cp" class="in.ashokit.beans.CreditCardPayment" />

	<bean id="rs" class="in.ashokit.beans.RestaurantService">
		<property name="payment" ref="cp" />
		<constructor-arg ref="dp" />
	</bean>


</beans>
